article.slide p:has(img) {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

article.slide p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 6;
}

article.slide .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

article.slide p:has(img:nth-of-type(2)) img {
    object-fit: contain;
}

article.slide.auto-rows .content {
    grid-auto-rows: auto;
    grid-template-rows: initial;
}

article.slide.two-code .content {
    grid-template-columns: 1fr 1fr;
}

article.slide.two-code .content :not(.highlight) {
    grid-column: span 2;
}

article.slide.quote-code .content {
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

article.slide.quote-code .content :not(.highlight, blockquote) {
    grid-column: span 2;
}

ul {
    place-self: center;
    max-width: 60%;
    font-size: 1.4em;
    list-style-position: outside;
    font-family: system-ui;
}

/* 

article.slide p:has(img) {
    flex-grow: 1;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

article.slide p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 6;
}

article.slide.auto p:has(img) {
    grid-auto-columns: min-content;
}

article.slide.contain p img {
    object-fit: contain;
}

article.slide.top p img {
    object-position: top;
} */