article.slide:not(.title) {
    display: grid;
    grid-template-rows: auto 1fr;
}

article.slide .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

article.slide p:has(img) {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

article.slide p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 6;
}

article.slide.contain p img {
    object-fit: contain;
}

article.slide.float .content {
    grid-template-columns: 1fr 1fr;
}

article.slide.float .content :not(.highlight) {
    grid-column: span 2;
}

article.slide.flex .content {
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto auto auto auto auto;
}

article.slide.flex .content blockquote {
    grid-column: span 2;
}

article.slide.css-grid .content {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(5, min-content);
    gap: 1px;
    font-size: 0.9em;
}

article.slide.css-grid .content p {
    grid-column: span 2;
}

article.slide.exercises .content {
    grid-template-columns: 1fr 1fr;
    gap: 5em;
}

article.slide.exercises .content blockquote {
    grid-column: span 2;
}
