article.slide p:has(img) {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

article.slide p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 6;
}

article.slide .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

/* elements */

article.slide.contain img {
    object-fit: contain;
}
article.slide.black img {
    background-color: #1f1f1f;
}

/* TWIN */

article.slide.twin .content {
    display: grid;
    /* grid-template-rows: 1fr auto 1fr; */
    grid-template-areas: 
    "intro"
    "code1"
    "code2"
    "outro";
    /* grid-template-columns: 1fr; */
    /* margin-bottom: 2rem; */
    gap: 0 3px;
}
@media (width >= 1050px) {
    article.slide.twin .content {
        grid-template-areas:
            "intro intro"
            "code1 code2"
            "outro outro";

        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: auto 1fr auto; */
    }
    article.slide.twin .content blockquote {
        grid-column: span 2;
    }
}

/* anchors */

article.slide.anchors .content {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr min-content min-content min-content min-content 1fr;
    gap: 0.1rem;
}

article.slide.anchors .content p {
    place-self: center;
}

article.slide.anchors .content :nth-child(-n + 1),
article.slide.anchors .content :nth-last-child(-n + 1) {
    grid-column: span 2;
}

/* demonstrating elements */
article.slide.demo .content {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: min-content min-content 1fr min-content;
    /* gap: 0.5rem 3px; */
}


article.slide.docs .content {
    grid-template-columns: auto auto;
    grid-template-rows: 2fr 2fr 3fr;
}

/* lists */

article.slide.lists .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr auto;
}

article.slide.lists .content>*:first-child,
article.slide.lists .content>*:last-child {
    grid-column: span 2;
}

article.slide.lists .content ul,
article.slide.lists .content ol {
    text-align: left;
    margin: 0;
    padding: 1em 2em;
}

/* images */
article.slide.images .content {
    grid-template-rows: auto auto 1fr auto;
}

article.slide.images p:has(img) {
    display: block;
    margin-block: 1rem;
    place-self: center;
}
article.slide.images img {
    height: auto;
    max-height: 4rem;
    vertical-align: bottom;
    width: auto;
    display: inline-block;
    aspect-ratio: auto;
    background-color: #eee;
    /* padding-top: 0.75rem; */
    border: 1px solid #ddd;
}
@media (width>=500px) {
    article.slide.images img {
        max-height: 8rem;
    }
}
@media (width>=700px) {
    article.slide.images img {
        max-height: 12rem;
    }
}
@media (width>=1000px) {
    article.slide.images img {
        max-height: 14rem;
    }
}
/* validators */

article.slide.validators img {
    object-fit: contain;
    /* place-self: center; */
    /* aspect-ratio: auto; */

    /* max-width: 100%; */
}

article.slide.markup img:nth-of-type(2) {
    object-position: left;
}

/* summary */
article.slide.large-list .content {
    grid-template-rows: 1fr auto;
}
article.slide.large-list ul {
    place-self: center;
}
article.slide.large-list li {
    font-size: 1.4em;
    /* padding: 0; */
}