article.slide p:has(img) {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

article.slide p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 6;
}

article.slide .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

/* elements */

article.slide.contain img {
    object-fit: contain;
}
article.slide.black img {
    background-color: #1f1f1f;
}

/* TWIN */

article.slide.twin .content {
    display: grid;
    grid-template-rows:  auto 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    gap: 3px;
}
article.slide.twin .content .highlight {
    font-size: 0.7em;
}
@media (width >= 1050px) {
    article.slide.twin .content {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto;
    }
    article.slide.twin .content blockquote {
        grid-column: span 2;
    }
    article.slide.twin .content .highlight {
        font-size: 1em;
    }
}

/* anchors */

article.slide.anchors .content {
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content min-content min-content;
    gap: 0.5rem 3px;
}

article.slide.anchors .content>p {
    grid-column: span 2;
}

/* headings */

article.slide.headings .content {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: min-content min-content min-content min-content min-content; */
    /* gap: 0.5rem 3px; */
}
article.slide.headings .content>* {
    grid-column: span 2;
}
article.slide.headings .highlight,
article.slide.headings .highlight + blockquote {
    grid-column: span 1;
}



/* lists */
article.slide.lists .content {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto auto 1fr; */
}

article.slide.lists .content>* {
    grid-column: span 1;
}
article.slide.lists .content>*:first-child,
article.slide.lists .content>*:last-child {
    grid-column: span 2;
}

article.slide.lists .content ul,
article.slide.lists .content ol {
    text-align: left;
    margin: 0;
}

/* images */
article.slide.images .content {
    grid-template-rows: auto auto 1fr auto;
}

article.slide.images p:has(img) {
    display: block;
    margin-block: 1rem;
}
article.slide.images img {
    height: auto;
    max-height: 4rem;
    vertical-align: bottom;
    width: auto;
    display: inline-block;
    aspect-ratio: auto;
    background-color: #eee;
    /* padding-top: 0.75rem; */
    border: 1px solid #ddd;
}
@media (width>=500px) {
    article.slide.images img {
        max-height: 8rem;
    }
}
@media (width>=700px) {
    article.slide.images img {
        max-height: 12rem;
    }
}
@media (width>=1000px) {
    article.slide.images img {
        max-height: 14rem;
    }
}
/* validators */

article.slide.validators img {
    object-fit: contain;
    aspect-ratio: auto;
    max-height: 20rem;
}
