* {
    outline: 0.5px solid black;
    background-color: hsl(50, 100%, 40%, 0.1);
    margin: 0;
    padding: 0;
}

p {
    padding: 1rem;
    background-color: hsl(250, 100%, 80%, 0.6);
}

figure {
    background-color: hsl(100, 100%, 80%);
    padding: 1rem;
}

li {
    background-color: hsl(0, 100%, 80%);
    height: 30px;
}