body {
    margin: 0;
    font-family: system-ui;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: oklch(50% 100% 0);
    color: oklch(90% 10% 0);
    padding: 1rem;
}
h1 {
    margin: 0;
}