@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

p {
    font-size: 1.2em;
    line-height: 1.4;
    font-family: Roboto;
    font-weight: 300;
    max-width: 70ch;
    margin-inline: auto;
}

p:nth-of-type(2) {
    font-weight: 100;
}

p:nth-of-type(3) {
    font-weight: 400;
}