body {
    display: grid;
    margin: 0;
    font-family: system-ui;
}

header {
    background-color: hsl(100, 50%, 30%);
    color: hsl(100, 50%, 90%);
    font-size: 0.9em;
}

header,
main {
    padding-inline: 0.5rem;
}

h1 {
    margin-block: 0.5rem;
}

nav {
    display: flex;
    gap: 0.5rem;
    padding-block: 0.5rem;
    /* justify-content: space-between; */

    flex-direction: column;
    position: fixed;
    padding: 1rem;
    font-size: 1.6em;
    inset: 0;
    background: hsl(100, 70%, 30%);
    translate: 100dvw;
    transition: translate 0.4s;
}

nav a {
    text-decoration: none;
    color: inherit;
}

#menuToggler {
    display: none;
}

#menuToggler + label {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin: 0.5rem; */
    width: 1em;
    aspect-ratio: 1;
    z-index: 2;
    color: transparent;
}

#menuToggler + label::before, 
#menuToggler + label::after {
    /* position: absolute; */
    content: "";
    background: white;
    width: 100%;
    aspect-ratio: 5;
}

#menuToggler + label::before {
    /* top: 0; */
}

#menuToggler + label::after {
    /* bottom: 0; */
}

#menuToggler:checked ~ nav {
    translate: none;
}

@media (width>=600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}