@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300;400;500;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --clr-text: hsl(0, 70%, 95%);
    --clr-slide-text: hsl(0, 10%, 10%);
    --clr-slide-background: hsl(180, 20%, 90%);
    --clr-background: hsl(0, 20%, 20%);
    --clr-background2: hsla(0, 20%, 30%);
    --clr-primary-button: #264DE4;
    --clr-secondary-button: #2965F1;
    --clr-accent: #EF652A;
    --clr-accent2: #E34F26;
    --global-padding: 0.5rem;
    --accent-gradient: linear-gradient(45deg, var(--clr-accent), 70%, var(--clr-accent2));
    --background-gradient: linear-gradient(180deg, var(--clr-background), 70%, var(--clr-background2));
}
@media (width >= 800px) {
    :root {
        --global-padding: 1.5rem;
    }
}

body {
    font-family: "ubuntu";
    font-weight: 300;
    margin: 0 auto;
    background: var(--clr-background);
    color: var(--clr-text);
    min-height: 100dvh;
}

header, 
footer, 
blockquote, 
article, 
nav.breadcrumbs, 
nav#TableOfContents {
    padding: var(--global-padding);
}

header {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    overflow: auto;
    background: var(--background-gradient);
    margin-inline: auto;
}

header h1 {
    font-size: 1em;
    margin: 0;
}

/* HERO */

body.hero header {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding-bottom: 2em;
}
body.hero header h1 {
    font-size: 2.5em;
}
body.hero header .logo {
    /* font-size: 15em; */
    width: 100%;
    padding: 1em;
}
body.hero header a:has(.logo) {
    width: 100%;
}



/* Menu */

header nav {
    --button-size: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: right;
    top: 0;
    height: 100dvh;
    right: 0;
    translate: 100%;
    transition: translate 0.4s;
    z-index: 10;
    backdrop-filter: brightness(0.7) blur(5px);
    padding: 4rem var(--global-padding);
}
header nav:has(input#toggler:checked) {
    translate: none;
}

header nav a {
    padding: 0.25em 0.5em;
    background: linear-gradient(var(--clr-primary-button), var(--clr-secondary-button));
    text-decoration: none;
}

@media (width>=1000px) {
    header {
        padding: var(--global-padding) calc(calc(50% - 500px)  + var(--global-padding));
    }
    nav.breadcrumbs {
        padding: 0 calc(calc(50% - 500px)  + var(--global-padding));
    }
    header label {
        /* right: calc(calc(50% - 500px) + var(--global-padding)); */
    }
}

/* THE TOGGLER LABEL */

header nav label {
    position: absolute;
    top: var(--global-padding);
    /* left: var(--global-padding); */
    left: calc(-1 * calc(var(--global-padding) + var(--button-size)));
    width: var(--button-size);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--button-size) * 0.15);
    padding: calc(var(--button-size) * 0.3) calc(var(--button-size) * 0.2);
    background: var(--accent-gradient);
    border-radius: 3px;
    z-index: 11;
    transition: left 0.5s;
}
header:has(input#toggler:checked) label {
    left: var(--global-padding);
}
header label::before, header label::after {
    content: "";
    background-color: white;
    border-radius: 2px;
    width: 100%;
    height: 3px;
    transition: rotate 0.5s, translate 0.5s;
    transition-delay: 0.25s;
}
header:has(input#toggler:checked) label::before {
    rotate: 45deg;
    translate: 0 0.25rem; 
}
header:has(input#toggler:checked) label::after {
    rotate: 135deg;
    translate: 0 -0.25rem; 
}

header input#toggler {
    display: none;
}


/* BREADCRUMBS */

nav.breadcrumbs {
    /* font-size: 0.8em; */
    display: flex;
    overflow: hidden;
    /* --link-color: var(--clr-background); */
    /* background-color: var(--clr-accent); */
    /* background: var(--accent-gradient); */
}

nav.breadcrumbs a {
    text-decoration: none;
    color: var(--link-color);
    padding: 0.125em;
    border-radius: 3px;
}
nav.breadcrumbs a:not(:last-child)::after {
    content: " >";
}

body.hero nav.breadcrumbs {
    display: none;
}

/* MAIN AND BELOW */

main {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: var(--global-padding);
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: var(--clr-text);
    filter: brightness(0.9);
    transition: filter 0.2s;
}
a:hover {
    filter: brightness(1.2) saturate(2);
}

p {
    line-height: 1.5;
}
p:empty {display: none;}

blockquote {
    background: var(--accent-gradient);
    border-radius: 0 5px 5px 0;
    border-left: 5px solid var(--clr-accent2);
}

blockquote {
    margin: 3rem 0;
}

article.summary {
    background: linear-gradient(145deg, var(--clr-primary-button), 80%, var(--clr-secondary-button));
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--clr-secondary-button);
    border-left-width: 0.5em;
    transition: 0.25s;
}
article.summary:hover {
    scale: 1.01;
    filter: drop-shadow(0 5px 10px hsla(0, 0%, 100%, 0.1));
}
article.summary p {
    font-size: 0.7em;
}
pre {
    border-radius: 3px;
    /* white-space: pre-wrap; */
    overflow-wrap: break-word;
    overflow-x: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-block: 3rem;
}

.grid.wider {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

ul.contents {
    padding: 0;
    list-style: none;
}
#TableOfContents {
    background: var(--accent-gradient);
    border-radius: 3px;
}
#TableOfContents ul {
    padding: 0;
}
#TableOfContents li {
    margin: 0;
    background: var(--clr-accent);
    padding: 0.25rem 0;
    list-style-position: inside;
}
#TableOfContents > ul > li::marker {
    content: "- "
}

#TableOfContents li:hover {
    filter: brightness(1.1);
}
#TableOfContents a {
    text-decoration: none;
}

.optional {
    display: none;
}
.with-colon::after {
    content: ":";
}

.logo {
    max-width: 600px;
    margin-inline: auto;
    display: block;
}
img.logo {
    min-height: 1.2em;
}
.draft {
    backdrop-filter: brightness(0.8);
    position: relative;
    overflow: hidden;
}

.draft::before {
    content: "draft";
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 10em;
    opacity: 0.2;
    rotate: 0.125turn;
}

.chroma {
    padding: 1rem;
    font-family: "Ubuntu Mono";
}


article.slide {
    font-size: 1.1em;
    background: linear-gradient(145deg, white, 10%, var(--clr-slide-background), 90%, grey);
    color: var(--clr-slide-text);
    border-radius: 0.25em;
    filter: drop-shadow(0 0 3px var(--clr-text));
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.grid article.slide:hover {
    filter: drop-shadow(0 0 5px var(--clr-text));
}
.grid article.slide .logo {
    max-width: 50%;
}

.grid article.slide a {
    background-color: transparent;
    color: inherit;
    display: block;
    padding: 1rem;
}


@media (hover: hover) {

}

@media (width >= 430px) {
    .optional {
        display: initial;
    }
} 

@media (width >= 600px) {
    body {
        font-size: 1.4em;
    }
    p {
        line-height: 1.4;
    }
    body.hero h1 .with-colon {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    body.hero h1 .with-colon::after {
        display: none;
    }
    
    
}