main {
    display: grid;
    background: red;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}

div {
    background: yellow;
    padding: 0.25rem;
}

main > :nth-child(1) {
    background: palegreen;
    grid-row: 3;
    grid-column: 2;
}

main > :nth-child(2) {
    background: orange;
    grid-column: span 2;
}

