body {
    background-color: orange;
    font-size: 1.4em;
    font-family: cursive;
}

#output {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 5px 10px;
}

#output p {
    background-color: yellow;
    padding: 5px 10px;
    margin: 0;
}