body {
    font-family: system-ui;
    font-size: 1.3rem;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 50%, 50%);
    color: white;
    padding: 1rem 0.5rem;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.25em 0.5em;
    transition: background-color 400ms;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgb(255, 255, 255, 0.2);
}