:root {
    --clr-background: hsl(0, 0%, 95%);
    --clr-background2: hsl(0, 0%, 90%);
    --clr-text: #222;
    --clr-slide-background: #fff;
    --clr-slide-text: #000;
    --clr-primary-button: hsl(200, 80%, 40%);
    --clr-secondary-button: hsl(200, 80%, 50%);
    --clr-button-text: hsl(200, 80%, 100%);
    --clr-accent: hsl(0, 80%, 55%);
    --clr-accent2: hsl(0, 80%, 65%);
    --clr-accent-text: hsl(0, 80%, 100%);
}