:root {
    --clr-background: #bbc;
    --clr-background2: #eef;
    --clr-text: #000;
    --clr-slide-background: #fff;
    --clr-slide-text: #000;
    --clr-primary-button: #006;
    --clr-secondary-button: #00b;
    --clr-button-text: #fff;
    --clr-accent: #a00;
    --clr-accent2: #f00;
    --clr-accent-text: #fff;
}