p {
    font-size: 1.2em;
    line-height: 1.4;
}

span {
    background: hsl(50, 80%, 50%, 0.2);
    border: 0.5px solid hsl(50, 80%, 50%);
}

p:nth-of-type(2) {
    letter-spacing: -3px;
    word-spacing: 1em;
}

p:nth-of-type(3) {
    letter-spacing: 5px;
    word-spacing: -0.5em;
}