{{define "css"}}
<link rel="stylesheet" href="/css/presentation.css">
{{end}}

{{define "javascript"}}
<script src="/js/presentation.js" type="module"></script>
{{end}}

{{define "bodyAttributes"}} class="presentation"{{end}}

{{ define "main" }}
  <article class="slide current" aria-label="{{.Title}}">
    <h2>{{.Title}}</h2>
    {{partial "logo.html" .}}
    <p>{{ .Content }}</p>
    {{ with .Params.Author}}<small>{{.}}</small>{{end}}
  </article>
  {{ $slides := .Resources.Match "slides/*.md" }}
  {{ range sort $slides "Params.Order" "asc" }}
  <article class="slide {{ delimit .Params.Classes " " }}" aria-labelledby="slide-{{.Params.Order}}">
    <h2 id="slide-{{.Params.Order}}">{{.Title}}</h2>    
    {{ .Content }}
  </article>
  {{ end }}

{{ end }}

{{ define "footer" }}
  <small id="instructions">Use arrow keys or swipe left and right to navigate</small>
{{ end }}