
{{ define "main" }}
    <blockquote>
        {{partial "logo.html" .}}
        <p>
            This is a lab exercise, it is designed to help you gain practical experience with web technologies.
            Below you will find step-by-step instructions which you should follow as completely as possible.
        </p>
        <p>
            It is <strong>critical</strong> that you elaborate on the instructions and deploy the learning you find here in your own example code. 
        </p>
    </blockquote>
    <nav class="pagination">
        {{ with .CurrentSection.RegularPages.Next . }}
        <a class="prev" href="{{.RelPermalink}}">{{.Title}}</a>
        {{end}}
        {{ with .CurrentSection.RegularPages.Prev . }}
        <a class="next" href="{{.RelPermalink}}">{{.Title}}</a>
        {{end}}
    </nav>
    <header class="exercise">
        <h2 class="special">{{.Title}}</h2>
        
    </header>

    {{ .TableOfContents }}

    <section>
        {{ .Content }}
    </section>

{{ end }}

{{ define "footer" }}
    <nav class="pagination">
        {{ with .CurrentSection.RegularPages.Next . }}
        <a class="prev" href="{{.RelPermalink}}">{{.Title}}</a>
        {{end}}
        {{ with .CurrentSection.RegularPages.Prev . }}
        <a class="next" href="{{.RelPermalink}}">{{.Title}}</a>
        {{end}}
    </nav>
{{ end }}

{{define "javascript"}}
<script src="/js/exercise.js" type="module"></script>
{{ if (.Page.Params.Mermaid) }}
<script type="module">
    // import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: true,
        er: {
            layoutDirection: 'LR',
            fontSize: '1em'
        },
        theme: 'base',
        themeVariables: {
            primaryColor: "#EF652A"
        }
    });
</script>
{{ end }}


{{end}}