
{{ define "main" }}
    <blockquote>
{{partial "logo.html" .}}
        <p>
            This is a lab exercise, it is designed to help you gain practical experience with web technologies.
            Below you will find step-by-step instructions which you should follow as completely as possible.
        </p>
        <p>
            It is <strong>critical</strong> that you elaborate on the instructions and deploy the learning you find here in your own example code. 
        </p>
    </blockquote>
    <header class="exercise">
        <h2 class="special">{{.Title}}</h2>
        
    </header>

    {{ .TableOfContents }}

    <section>
        {{ .Content }}
    </section>

{{ end }}

{{ define "footer" }}
    using proper exercise template
{{ end }}

