<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>I'm a header</h1>
    </header>    
    <main>
        <section>
            <h2>A normal section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, veniam pariatur? Voluptatum, perspiciatis quisquam doloremque accusantium sed numquam reiciendis fugit dolorum suscipit laboriosam incidunt provident?</p>
            <p>Modi labore atque, debitis fuga quis ex exercitationem consectetur sed, voluptatibus voluptatem consequatur dolores? Aspernatur debitis dolorem delectus molestias ipsa magni quos dolore et sint.</p>
        </section>
        <section>
            <h2>A section with a grid of grids</h2>
            <article class="this-is-a-grid">
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur, iusto saepe voluptatem cupiditate repellat!</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 2</h3>
                    <p>Unde totam, facilis voluptate itaque, soluta eaque nemo at recusandae porro repudiandae molestiae, tenetur est!</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 3</h3>
                    <p>Assumenda doloribus earum, blanditiis esse laboriosam enim, vero vel cupiditate optio obcaecati ipsa doloremque neque?</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 4</h3>
                    <p>Id, fugit dolorum, iste voluptatem tempore maiores perferendis quia, aut distinctio dolores corporis assumenda soluta!</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 5</h3>
                    <p>Voluptatum odit, dolorem laborum adipisci, accusantium obcaecati veniam voluptates dicta at, sunt voluptate sint animi?</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 6</h3>
                    <p>Modi, facere maiores. Ad, eius doloremque! Inventore provident qui repellat. Non praesentium voluptatum nulla neque!</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 7</h3>
                    <p>Rem minus ullam, fugit placeat hic, sit atque non explicabo saepe sint tempora quis numquam?</p>
                </div>
                <div>
                    <img src="https://placecats.com/150/150" alt="random kitten">
                    <h3>Item 8</h3>
                    <p>Tenetur placeat velit magni pariatur iusto ullam excepturi id adipisci, quis quam facilis sit eius.</p>
                </div>
            </article>
        </section>
        <section>
            <h2>A further normal section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis consectetur minus praesentium, quisquam molestiae voluptatum tenetur nostrum dolore minima. In et ducimus unde incidunt.</p>
            <p>Placeat repudiandae esse fugit quo enim. Eum beatae modi, quae totam consequuntur repudiandae consequatur ratione animi eius quod obcaecati! Enim iure alias maxime distinctio vel?</p>
        </section>
    </main>
    <footer>
        <p>This is the footer</p>
    </footer>
</body>
</html>