body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    padding: 2rem;
    font-size: 1.5em;
    font-family: system-ui;
    background: #eee;
}
p {
    line-height: 1.4;
    background: white;
    padding: 0.5rem;
    border-radius: 3px;   
}

code {
    background: #ddd;
    padding: 0.1em;
}

span {
    background: hsla(0, 50%, 50%, 0.4);
}

.block > span {
    display: block;
}