main {
    display: grid;
    background: red;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

div {
    background: yellow;
    padding: 0.25rem;
}

main > :nth-child(1) {
    background: palegreen;
    grid-row: 3;
    grid-column: 2;
    place-self: center;
}

main > :nth-child(2) {
    background: orange;
    grid-column: span 2;
}

main > :nth-child(4) {
    background: lightblue;
    grid-row: span 4;
}