<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>I'm a header</h1>
    </header>    
    <main>
        <section>
            <h2>A normal section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, veniam pariatur? Voluptatum, perspiciatis quisquam doloremque accusantium sed numquam reiciendis fugit dolorum suscipit laboriosam incidunt provident?</p>
            <p>Modi labore atque, debitis fuga quis ex exercitationem consectetur sed, voluptatibus voluptatem consequatur dolores? Aspernatur debitis dolorem delectus molestias ipsa magni quos dolore et sint.</p>
        </section>
        <section>
            <h2>A section with a grid of things</h2>
            <article class="this-is-a-grid">
                <div>
                    <h2>Item 1</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quia enim ipsam libero quis in.</p>
                </div>
                <div>
                    <h2>Item 2</h2>
                    <p>Hic dolore, doloremque optio cum numquam officia esse nisi! Nostrum incidunt vitae laborum rerum iste!</p>
                </div>
                <div>
                    <h2>Item 3</h2>
                    <p>Itaque tenetur cum aspernatur odit et qui labore magni voluptas, numquam, ad voluptates? Recusandae, quo?</p>
                </div>
                <div>
                    <h2>Item 4</h2>
                    <p>A fugit quas accusamus explicabo, corporis neque ipsa cum. Enim culpa iste sapiente sed facilis.</p>
                </div>
                <div>
                    <h2>Item 5</h2>
                    <p>Quae corporis, obcaecati doloremque velit minima sit quibusdam excepturi illum animi culpa ut dolore? Sunt?</p>
                </div>
                <div>
                    <h2>Item 6</h2>
                    <p>Voluptatibus libero in quasi voluptates impedit molestiae, et illo cumque sit eveniet fugit praesentium eum.</p>
                </div>
                <div>
                    <h2>Item 7</h2>
                    <p>Unde aperiam, atque, odit nam, dolorem cupiditate iusto repellat dignissimos nulla laboriosam itaque sit facere?</p>
                </div>
                <div>
                    <h2>Item 8</h2>
                    <p>Et tenetur perferendis quasi modi excepturi a dolores inventore minus? Totam quod nesciunt eum dolores!</p>
                </div>

            </article>
        </section>
        <section>
            <h2>A further normal section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis consectetur minus praesentium, quisquam molestiae voluptatum tenetur nostrum dolore minima. In et ducimus unde incidunt.</p>
            <p>Placeat repudiandae esse fugit quo enim. Eum beatae modi, quae totam consequuntur repudiandae consequatur ratione animi eius quod obcaecati! Enim iure alias maxime distinctio vel?</p>
        </section>
    </main>
    <footer>
        <p>This is the footer</p>
    </footer>
</body>
</html>